p, h1 {
    color: black;
    font-family: "Black Ops One", system-ui;
    font-size: 2em;
    /* ceci est un commentaire */
}

a {
    color: black;
    font-family: "Black Ops One", system-ui;
}

.pro_pass {
    color: #A5B4FC;
    font-family: "Black Ops One", system-ui;
}